.hubform-container {
    display: flex;
    justify-content: center;
}

.hubform-title {
    display: flex;
    justify-content: center;
}

.hubform-p {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.hubform-p p {
    max-width: 400px;
}

.hubform div {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.hubform-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control {
    margin-bottom: 8px;
    height: 2rem;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}
